html, body {
    margin:0;
    padding:0;
    height:100%;
  }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  body {
      font-family: 'Inter', sans-serif;
      background-image: url("./images/foto1.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover; 
  }
 /* Mensagem de alerta */
.alert {
    padding: 15px;
    margin-bottom: 15px;
    width: 50%;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
}
.alert.success {
    background-color: #4CAF50; /* Green */
    color: black; /* Black text */
}
.alert.error {
    background-color: #f44336; /* Red */
    color: white; /* White text */
}
/* formulário */
.formCadastro {
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: -10px 10px 0px rgba(33, 33, 33, 1),
     -20px 20px 0px rgba(33, 33, 33, 0.7), 
     -30px 30px 0px rgba(33, 33, 33, 0.4), 
     -40px 40px 0px rgba(33, 33, 33, 0.1);
    transition: box-shadow 0.3s;
    gap: 5px;
}
.formCadastro:hover {
    box-shadow: 0 0 16px 2px #000000, 16px 16px 32px 4px #5c5c9e;
  }
  
.formCadastro h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}
.formCadastro input:focus {
    border: 1px solid #f72585;
}
.formCadastro label {
    font-size: 14px;
    font-weight: 600;
}
.formCadastro a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
    color: #555;
    transition: all linear 160ms;
}
.formCadastro a:hover {
    color: #f72585;
}
/* botão */
.btn {
    background:#1AAB8A;
    color:#fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    margin: 0 !important;
    height: 50px;
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:0 2em;
    cursor:pointer;
    outline:none;
}
.btn:hover {
    transform: scale(1.05);
    background-color: #ff0676;
}