html, body {
    margin:0;
    padding:0;
    height:100%;
  }
  
  body {
    background-image: url("./images/foto1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   /* Ajusta o tamanho da imagem para cobrir todo o contêiner  */
    background-size: cover; 
    
  }
  /* Estilos para o menu de navegação */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  .menu {
    float: right; /* alinha o menu à direita */
  }
  nav {
    max-width: 1500px; 
    height: 100px;
    /* mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%); 
      */
      margin-top: 3px; 
  }
  nav ul {
    display: flex;
    justify-content:right;
    align-items: center;
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);  */
  }
  nav li {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
  }
  nav li a{
    text-decoration: none;
    font-weight: bold;
  }
  
  /* div */
  .jumbotron{
    background: rgba(123, 121, 121, 0.737);
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;

  }
  .jumbotron h1{
    font-weight: bold;
    text-align: left;
  }
  
 /* botão*/
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #0f0f0f;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: bold;
  float: right; /* alinha o botão à direita */
  margin-left: 10px; /* cria um espaço de 10px à esquerda do botão */
}
.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 3;
}
.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(243, 246, 248, 0.482);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
